/********************************************** Partner page ********************************************/

.partner {
  padding: 7.5vh 15vh 15vh 15vh;
  color: #ebe7e2;
  font-size: 1.1rem;
}

/* Media sections with video/image */
/* .partner-section-with-media {
} */

.partner-section-with-media p {
  padding: 1rem;
  margin-bottom: 0;
}

.partner-section-with-media .partner-media {
  float: left;
  margin-right: 1rem;
}

.partner-media {
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 16px;
}

/* Clear floats after sections */
.partner-section-with-media::after {
  content: "";
  display: table;
  clear: both;
}

/* Tablet - shrink video */
@media (max-width: 1024px) {
  .partner-media {
    width: 120px;
    height: 120px;
  }

  .partner {
    padding: 5vh 10vh;
  }
}

@media (max-width: 900px) {
  .partner {
    padding: 4vh 8.5vh;
  }
}
/* Mobile - stack vertically */
@media (max-width: 800px) {
  .partner {
    padding: 3vh 7vh;
  }

  .partner h2 {
    text-align: center;
  }

  .partner-section-with-media .partner-media {
    float: none;
    margin: 0 auto;
    display: block;
  }

  .partner-media {
    width: 200px;
    height: 200px;
  }
}

.partner-button {
  text-decoration: none;
  color: #ebe7e2;
  background-color: #4c4740;
  padding: 10px 15px;
  border-radius: 5px;
  margin-right: 10px;
}

.partner-button:hover {
  background-color: #5a524a;
  text-decoration: none;
  color: #fff;
  box-shadow: inset 2px 2px 5px rgba(0, 0, 0, 0.5);
}

.partner-button-container {
  display: flex;
  margin-bottom: 40px;
}
