/********************************************** Songs page ********************************************/

.song-card-wrapper {
  min-height: 372px;
}
.song-filters {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  gap: 1.2rem;
}

.song-card .genre-icon {
  position: absolute;
  top: -1px;
  left: -1px;
  font-size: 1.3rem;
  filter: grayscale(30%) opacity(90%);
  z-index: 5;
  cursor: default;
  text-shadow: 0 0 3px #232121ff;
}

.genre-dropdown {
  text-align: center;
  margin-top: 1rem;
  font-weight: bold;
}

.genre-dropdown-menu {
  padding: 5px;
  font-size: 1rem;
  background-color: #e7e5e5;
}

.song-card .genre-icon .tooltip {
  visibility: hidden;
  opacity: 0;
  background-color: rgba(0, 0, 0, 0.75);
  color: #fff;
  padding: 2px 6px;
  border-radius: 4px;
  position: absolute;
  z-index: 10;
  top: 5px;
  left: 22px;
  white-space: nowrap;
  font-size: 1rem;
  transition: opacity 0.2s;
}

.song-card .genre-icon:hover .tooltip {
  visibility: visible;
  opacity: 1;
}

.song-card {
  margin: 1rem;
  height: 17rem;
  width: 12rem;
  border: 1px solid #ccc;
  padding: 1rem;
  border-radius: 8px;
  cursor: pointer;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
  transition: transform 0.2s, box-shadow 0.2s;
  position: relative;
}

.song-card:hover {
  transform: scale(1.02);
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.4);
  background-color: rgba(255, 255, 255, 0.05); /* faint glow */
}

.song-list {
  padding-top: 2rem;
  text-align: center;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
}

.song-thumbnail {
  width: 100%;
  height: 10rem;
  object-fit: cover;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 1);
}

.song-card-buttons {
  display: flex;
  justify-content: center;
  gap: 0.5rem;
  margin: 0.5rem 0 0.25rem 0;
}

.song-play-button {
  background-color: #29262678;
  color: #ebe7e2;
  border: none;
  border-radius: 5px;
  width: 27px;
  height: 27px;
  font-size: 0.9rem;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background 0.2s ease;
}

.song-add-to-playlist-button {
  background-color: #29262678;
  color: #ebe7e2;
  border: none;
  border-radius: 5px;
  font-size: 0.85rem;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background 0.2s ease;
  white-space: nowrap;
  padding: 0.25rem 0.5rem;
  height: 27px;
  min-width: auto;
}

.song-play-button:hover,
.song-add-to-playlist-button:hover {
  background-color: #5c554c;
}

.song-title {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  text-align: center;
  justify-content: center;
  font-weight: bold;
  font-size: 1.2rem;
  color: #ebe7e2;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 1);
}
