html {
  height: 100%;
  overflow-x: hidden;
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  background-color: #7d7771;
  margin-top: 1%;
}

/********************************************** Full App ********************************************/

.add-drop-shadow-thick {
  filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 1));
}

.add-drop-shadow-thin {
  filter: drop-shadow(1px 1px 1px rgba(0, 0, 0, 0.5));
}

/* Base layout setup */
.App {
  padding-bottom: 17vh;
  display: flex;
  flex-direction: column;
  transition: margin-right 0.3s ease;
}

.content {
  transition: margin-right 0.3s ease;
}

/* Shift everything when lyrics are open */
.App.lyrics-open .main-content,
.App.lyrics-open .SongPlayer {
  margin-right: 300px; /* adjust if sidebar width changes */
}

/* Lyrics sidebar */

/* Sets the header background and height */
header {
  background-color: #7d7771;
  display: flex;
  margin-left: 1%;
}

nav {
  position: sticky;
  top: 0;
  z-index: 1001; /* higher than content, lower than modals if any */
}

.main-nav {
  position: relative;
  text-decoration: none;
  color: inherit;
}

/* Active link text style */
.main-nav.active {
  color: #e7e5e5;
  text-shadow: 0 0 20px #1a1919, 0 0 5px #252525;
}

/* Underline animation */
.main-nav::after {
  content: "";
  position: absolute;
  bottom: -4px;
  left: 50%;
  transform: translateX(-50%);
  width: 0;
  height: 2px;
  background-color: #787777;
  transition: width 0.3s ease;
}

.search-bar input:focus {
  outline: none; /* remove browser default */
  border: 2px solid #635f5f; /* replace with your brand color */
  box-shadow: 0 0 5px rgba(29, 24, 21, 0.6); /* optional glow */
}

/* Expand underline from center */
.main-nav.active::after {
  width: 100%;
}

#logo {
  max-width: 80%;
  width: 80%;
  margin-bottom: 1em;
  margin-left: 35px;
}

#logo h1 {
  display: block;
  margin: 0.2em 0 0 0;
  text-align: center;
  letter-spacing: 0.2em;
  font: normal 300% "Tajawal", sans-serif;
  color: #fff;
}

#logo-img {
  /* position: fixed; */
  display: block;
  margin: 0.5%;
  text-align: center;
  width: 100px;
  height: auto;
  /* make round */
  border-radius: 50%;
  margin-top: -0.5rem;
  margin-bottom: 0.5rem;
  filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 1));
}

#hidden {
  display: none;
}

#logo h2 {
  display: block;
  text-align: center;
  letter-spacing: 0.35em;
  font: normal 90% "Tajawal", sans-serif;
  color: #ebe7e2;
}

#logo h1 a,
#logo h2 a {
  text-decoration: none;
  color: #ebe7e2;
}

.thumbnail-wrapper {
  position: relative;
  display: inline-block;
}

.play-overlay {
  position: absolute;
  z-index: 2;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 2rem;
  color: rgb(255, 255, 255);
  opacity: 0;
  transition: opacity 0.3s;
  pointer-events: none;
}

#shadow {
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

.thumbnail-wrapper:hover .play-overlay {
  opacity: 0.7;
}

/* layout for App.js root */
.App.layout {
  display: flex;
  flex-direction: row;
  transition: all 0.3s ease;
}

/* main content container */
.content {
  flex: 1;
  transition: all 0.3s ease;
  margin-right: 0;
}

/* when lyrics viewer is open */
.content.with-lyrics {
  margin-right: 300px;
}

/********************************************** SongPlayer *********************************************/

/* player volume styles */

.close-player-button {
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
  color: #dedad9;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

input[type="range"] {
  /* -webkit-appearance: none; */
  width: 100px;
  height: 6px;
  background: #444; /* Track color */
  border-radius: 5px;
  outline: none;
  margin-left: 1rem;
}

/* Chrome & Safari */
input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 14px;
  height: 14px;
  background: #fff; /* Thumb color */
  border-radius: 50%;
  cursor: pointer;
  border: 2px solid #888;
}

/* Firefox */
input[type="range"]::-moz-range-thumb {
  width: 14px;
  height: 14px;
  background: #fff;
  border-radius: 50%;
  cursor: pointer;
  border: 2px solid #888;
}

input[type="range"]::-moz-range-track {
  background: #7a6969;
  height: 6px;
  border-radius: 5px;
}

.song-player {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #413b34;
  color: #fff;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  border-top: 1px solid #333;
  z-index: 1000;
  box-shadow: 0 -3px 10px rgba(36, 33, 33, 0.75);
}

.song-player-control-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

@media screen and (max-width: 1068px) {
  .song-player-control-bar.with-lyrics {
    flex-direction: column;
    display: block;
    margin-bottom: 1rem;
  }

  .song-player-control-bar.with-lyrics .song-player-volume {
    display: none;
  }
}

.song-player-thumbnail-title {
  display: flex;
  align-items: center;
  gap: 1rem;
  min-width: 200px;
}

.song-player-thumbnail {
  width: 66px;
  height: 66px;
  object-fit: cover;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 1);
}

.song-player-title {
  font-size: 1.3rem;
  font-weight: bold;
  color: #ebe7e2;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 1);
  max-width: 130px;
}

.song-player-controls {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  align-items: center;
  gap: 1rem;
}

.song-player-volume {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.song-player-progress-bar {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  margin-top: 0.5rem;
}

.song-player-progress-time {
  font-size: 0.8rem;
  color: #dedad9;
}

.song-player-progress {
  flex-grow: 1;
  height: 4px;
  background: #7d7771; /* Track color */
  position: relative;
  cursor: pointer;
}

.song-player-progress-fill {
  position: absolute;
  height: 100%;
  background: #fff; /* Fill color */
  transition: width 0.2s ease;
}

.song-player-lyrics-button {
  background-color: #52504e;
  color: #ebe7e2;
  border: none;
  padding: 0.25rem 0.5rem;
  font-size: 1rem;
  cursor: pointer;
  border-radius: 4px;
  transition: background-color 0.2s ease, color 0.2s ease;
}

.add-pointer {
  cursor: pointer;
  color: #dedad9;
  transition: color 0.2s ease;
}

.song-player-controls .active {
  background-color: #41321f;
}

/******************** Lyrics Viewer *******************/
.lyrics-viewer {
  position: fixed;
  top: 0;
  right: 0;
  width: 300px;
  height: 100%;
  background-color: #413b34;
  color: white;
  padding: 1rem;
  box-shadow: 0 0 10px rgba(18, 17, 17, 0.88);
  z-index: 1000;
  overflow-y: auto;
}

.lyrics-viewer .close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  background: transparent;
  color: white;
  border: none;
  font-size: 1.2rem;
  cursor: pointer;
}

.lyrics-viewer .lyrics-body {
  margin-top: 2rem;
  font-size: 1rem;
  line-height: 1.6;
}

/********************************************** Home page *********************************************/
.home {
  padding: 3vh;
  color: #ebe7e2;
}

.home h1 {
  text-align: center;
  margin-bottom: 1rem;
  font-size: 2.5rem;
}

.featured {
  margin: 2rem 0;
  padding: 1rem;
  border: 1px solid #ccc;
  border-radius: 8px;
}

.featured-song {
  display: flex;
  align-items: center;
  gap: 1rem;
  cursor: pointer;
  padding: 1rem 0;
}

.featured-song-thumbnail {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 8px;
}

.featured-song-title {
  margin: 0;
}

.featured-song-description {
  margin: 0.25rem 0;
  font-style: italic;
}
.home-verse {
  font-style: italic;
  margin-top: 2rem;
  text-align: center;
}

/********************************************** About page ********************************************/

.about {
  padding: 3vh;
  color: #ebe7e2;
}

/********************************************** Partner page ********************************************/

.partner {
  padding: 3vh;
  color: #ebe7e2;
}

.partner-button {
  text-decoration: none;
  color: #ebe7e2;
  background-color: #413b34;
  padding: 10px 15px;
  border-radius: 45px;
  margin-right: 10px;
}

.partner-button:hover {
  background-color: #5a524a;
  text-decoration: none;
  color: #fff;
  box-shadow: inset 2px 2px 5px rgba(0, 0, 0, 0.5);
}

/********************************************** Music page ********************************************/
.genre-icon {
  position: absolute;
  top: -1px;
  left: -1px;
  font-size: 1.3rem;
  filter: grayscale(30%) opacity(90%);
  z-index: 5;
  cursor: default;
  text-shadow: 0 0 3px #232121ff;
}
.genre-dropdown {
  text-align: center;
  margin-top: 1rem;
  font-weight: bold;
}

.genre-icon .tooltip {
  visibility: hidden;
  opacity: 0;
  background-color: rgba(0, 0, 0, 0.75);
  color: #fff;
  /* text-align: center; */
  padding: 2px 6px;
  border-radius: 4px;
  position: absolute;
  z-index: 10;
  top: 5px;
  left: 22px;
  white-space: nowrap;
  font-size: 1rem;
  transition: opacity 0.2s;
}
.genre-icon:hover .tooltip {
  visibility: visible;
  opacity: 1;
}

.song-card {
  margin: 2rem;
  height: 15rem;
  width: 12rem;
  border: 1px solid #ccc;
  padding: 1rem;
  border-radius: 8px;
  cursor: pointer;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
  transition: transform 0.2s, box-shadow 0.2s;
  position: relative;
}

.song-card:hover {
  transform: scale(1.02);
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.4);
  background-color: rgba(255, 255, 255, 0.05); /* faint glow */
}

.song-list {
  padding: 2rem;
  text-align: center;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
}

.song-thumbnail {
  width: 100%;
  height: 10rem;
  object-fit: cover;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 1);
}

.song-title {
  display: flex;
  flex-wrap: wrap;
  /* width: 8rem; */
  margin: 0 auto;
  text-align: center;
  justify-content: center;
  margin-top: 0.5rem;
  font-weight: bold;
  font-size: 1.2rem;
  color: #ebe7e2;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 1);
}
/********************************************** Videos page ********************************************/

.videos {
  padding: 3vh;
  color: #ebe7e2;
}

.video-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
  padding: 2rem;
}
.video-card {
  width: 300px;
  cursor: pointer;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.4);
  overflow: hidden;
  transition: transform 0.2s;
}
.video-thumbnail {
  width: 100%;
  object-fit: cover;
}
.video-card:hover {
  transform: scale(1.02);
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.4);
}
.video-title {
  background-color: #413b34;
  color: #fff;
  padding: 0.5rem;
  text-align: center;
  font-size: 1.2rem;
  margin-top: -1px; /* to align with the bottom of the thumbnail */
}
.video-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000; /* higher than header */
}

.video-modal-content {
  width: 80%;
  max-width: 800px;
  aspect-ratio: 16/9;
}

/********************************************** Media Queries ********************************************/

@media screen and (max-width: 768px) {
  .song-player-control-bar {
    /* //remove display: flex; */
    display: block;
    margin-bottom: 1rem;
  }
  .song-player-volume {
    margin-block: 1rem;
    display: none;
  }
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .spacer {
    width: 100%;
    height: 40px;
  }
}

@media screen and (min-width: 480px) and (max-width: 767px) {
  /* Resize width */
  #logo {
    position: relative;
    max-width: 90%;
    width: 90%;
  }
  /* Resize font for mobile */
  #logo h1 {
    display: block;
    margin: 0.2em 0 0 0;
    text-align: center;
    letter-spacing: 0.2em;
    font: normal 250% "Tajawal", sans-serif;
    color: #ebe7e2;
    padding-top: 0.1875em;
  }

  #logo h2 {
    display: block;
    text-align: center;
    letter-spacing: 0.35em;
    font: normal 85% "Tajawal", sans-serif;
    color: #ebe7e2;
    padding-top: 0.1875em;
  }
}

@media screen and (min-width: 320px) and (max-width: 479px) {
  /* Resize width */
  #logo {
    position: relative;
    max-width: 95%;
    width: 95%;
  }
  /* Resize font for mobile */
  #logo h1 {
    display: block;
    margin: 0 auto;
    text-align: center;
    letter-spacing: 0.2em;
    font: normal 185% "Tajawal", sans-serif;
    color: #fff;
    padding-top: 0.5em;
  }

  #logo h2 {
    display: block;
    text-align: center;
    letter-spacing: 0.35em;
    font: normal 70% "Tajawal", sans-serif;
    color: #fff;
    padding-top: 1em;
  }
}

/************************************* NAVIGATION *************************************************/

/* Positions nav and content */
.container,
.site_content,
.site_content_index {
  position: relative;
  box-shadow: 0 -4px 4px rgba(0, 0, 0, 0.4);
}

/* Fixes nav on scroll */
header,
.container-scrolled {
  /* position: fixed; */
  text-align: center;
  left: 0;
  right: 0;
  width: 100%;
  top: 0;
}

/* Nav container to center and set width */
.container {
  margin: 0 auto;
  z-index: 150;
  height: 60px;
}

/* Background-color to the nav container. */
nav {
  padding: 0.5em 0 0.5em 0;
  background-color: #e8e8e8;
  border-bottom: 0.2em solid #7d7771;
}

/* Since we'll have the "ul li" "float:left"
 * we need to add a clear after the container. */

nav:after {
  content: "";
  display: table;
  clear: both;
}

/* Removing padding, margin and "list-style" from the "ul",
 * and adding "position:reltive" */
nav ul {
  padding: 0;
  margin: 0;
  list-style: none;
  position: relative;
  text-align: center;
}

/* Positioning the navigation items inline */
nav ul li {
  margin: 0px;
  display: inline-block;
  text-align: center;
  background-color: #e8e8e8;
}

/* Styling the links */
nav ul li a,
nav ul ul li a {
  display: block;
  padding: 0 12px;
  color: #000;
  letter-spacing: 0.1em;
  font-size: 1.15em;
  font-family: "Tajawal", sans-serif;
  line-height: 40px;
  text-decoration: none;
  text-align: center;
  -webkit-transition: all 0.25s ease;
  -moz-transition: all 0.25s ease;
  -ms-transition: all 0.25s ease;
  -o-transition: all 0.25s ease;
  transition: all 0.25s ease;
}

/* Background color change on Hover */
nav a:hover,
nav li.selected a,
nav li.selected a:hover {
  background-color: #a5a09b;
  color: #fff;
}

nav li .down a {
  display: block;
}

nav .scroll {
  display: inline-block;
}

nav ul ul a {
  font-size: 1em;
}

nav ul li.icon {
  display: none;
}

/********************************************** BODY ***********************************************/

/* Sets the position + display + formating for the body container */

/* Padding for the page content */
#content {
  padding: 0.8em 0.8em 0.8em 0.8em;
}

/* Body Tag fonts */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Tajawal", sans-serif;
}

/* Font + margin + letter spacing for Body Tags */
p {
  font-size: 1.25em;
  margin: 0 0 1em 0;
  line-height: 1.75em;
}

h1,
h2,
h3 {
  font-size: 1.5em;
  margin: 0 0 0.6em 0;
  letter-spacing: 0.05em;
}

h4,
h5 {
  font-size: 1.25em;
  margin: 0 0 1em 0;
  line-height: 1.75em;
}

h6 {
  font-size: 1.125em;
  margin: 0 0 0.2em 0;
}

h3 {
  text-align: center;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  /* Padding for the page content */
  #content {
    padding: 0;
  }

  /* Font + margin + letter spacing for Body Tags */
  /* Change fonts for mobile. Margin + line hieght for p. */
  p {
    font-size: 1.125em;
    margin: 0 0 1em 0;
    line-height: 1.75em;
  }

  h1,
  h2,
  h3 {
    font-size: 1.375em;
    margin: 0 0 0.6em 0;
    letter-spacing: 0.05em;
  }

  h4,
  h5 {
    font-size: 1.125em;
    margin: 0 0 1em 0;
    line-height: 1.75em;
  }

  h6 {
    font-size: 1em;
    margin: 0 0 0.2em 0;
  }
}

/* Text Title Lines on Right & Left */
@media screen and (min-width: 768px) {
  h3.lines {
    overflow: hidden;
    text-align: center;
  }

  h3.lines:before,
  h3.lines:after {
    background-color: #000;
    content: "";
    display: inline-block;
    height: 1px;
    position: relative;
    vertical-align: middle;
    width: 50%;
  }

  h3.lines:before {
    right: 0.5em;
    margin-left: -50%;
  }

  h3.lines:after {
    left: 0.5em;
    margin-right: -50%;
  }
}

div li.hide {
  display: none;
}
